REDIS_SERVICE_HOST=

# Intervals
# > Server

INTERVAL_REFRESH_MV_EA_SEC=
INTERVAL_REFRESH_MV_BW_HOUR=
INTERVAL_REFRESH_MV_EUC_SEC=

INTERVAL_REQUEST_ACTUALIZE_SEC=

INTERVAL_MARK_DELETED_ADS_DAY=
INTERVAL_DELETE_VREQ_HOUR=

INTERVAL_BACKUP_DAY=
INTERVAL_VACUUM_DAY=

INTERVAL_SNAPSHOT_UA_DAY=

# >Provider

INTERVAL_CRAWL_HOUR=
INTERVAL_SCRAPE_SEC=
INTERVAL_ACTUALIZE_SEC=

# Enabled

# > Server

ENABLED_REFRESH_MV_EA=
ENABLED_REFRESH_MV_BW=
ENABLED_REFRESH_MV_EUC=
ENABLED_REQUEST_ACTUALIZE=
ENABLED_MARK_DELETED_ADS=
ENABLED_DELETE_VREQ=
ENABLED_BACKUP=
ENABLED_VACUUM=
ENABLED_SNAPSHOT_UA=

# > Provider

ENABLED_CRAWL=
ENABLED_SCRAPE=
ENABLED_ACTUALIZE=
